@media only screen and (min-width: 600px){

    header {

        .main-nav {
            display: block;
            position: absolute;
            right: 0;
            z-index: 100;
            color: #fff;
            
        }
        .main-nav ul {
            display: flex;
            justify-content: flex-end;

            
            .topLink {
                display: none;
            }
        }

        ul li a {
            color: $white;
            padding: 25px 0;
            display: inline-block;
            font-size: $fontSizeSmall;
        }
    }
}

@media only screen and (min-width: 768px) {
    .main-header {

        .navMenu-btn {
            display: none;
        }

        .main-nav {

            a {
                position: relative;
                transition: all 0.5s ease;
                z-index: 3;
                color: $white;
                text-transform: uppercase;
            }
            a:before {
                content: "";
                position: absolute;
                height: 10px;
                width: 0;
                bottom: 0;
                left: 0;
                transition: width 0.5s ease;
            }
            a:hover {
                color: #fff;
            }
            a:hover:before {
                background-image: $gradientHover;
                width: 100%;
            }

        }
    }

    .showcase {
        .showcase-text {

            .showcase-btn {
                transition: all 1s ease;
                &:hover {
                    background-image: $gradientHover;
                }
            }
        }
    }
}
@media only screen and (min-width: 900px) {

    .main-nav {
        ul li a {
            font-size: $fontSizeLarge;
        }
    }

    .showcase {
        margin: auto;
        .showcase-text {
            width: 45%;
            left: 30%;
            z-index: 3;
            background: $primary-color;

            h1 {
                font-size: 5rem;
                background: none;
            }
            p {
                background: none;
                border: 2px $white solid;
                margin: 30px 0;
            }
            .float {
                font-size: 3.4rem;
                animation-duration: 6s;
            }
        }
        .showcase-pic {
            width: 30%;
        }

        .overlay-pic {
            position: absolute;
            width: 30%;
            height: 100%;
            background: rgba(35, 35, 59, 0.4);
            z-index: 3;
        }
        .showcase-secondary {
            width: 25%;
            right: 0;
            bottom: 10%;
            z-index: 2;
            background: $secondary-color;
            
            p {
                font-size: $fontSizeLarge;
                color: $primary-color;
                margin: 0;
            }
        }
    }

    .about-page {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 4% 0;

        h1 {
            margin-bottom: 40px;
            font-size: $titleLarge;
        }

        .about-text {
            width: 45%;
            font-size: 2rem;
            p {
                font-size: $fontSizeLarge;
            }
        }

        .skills-text {
            width: 45%;
            
            p {
                font-size: $fontSizeLarge;
            }

            ul {

                li {
                    font-size: $fontSizeLarge;
                }
            }
        }

        .skills-logos {
            margin-left: auto;
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: space-around;

            i {
                font-size: 4rem;
            }
        }
    }

    .projects {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: 4% 0;
        
        
        .projects-text {
            width: 100%;
            margin-bottom: 30px;
            h1 {
                margin-bottom: 20px;
                font-size: $titleLarge;
            }
            p {
                font-size: $fontSizeLarge;
            }
        }

        .item-2 {
            margin-top: 0;
        }

        .project-item {
            width: 48%;
            .project-item-text {
                h3 {
                    font-size: 2rem;
                }
                p {
                    font-size: $fontSizeLarge;
                }

                span {
                    font-size: $fontSizeLarge;
                }
            }

            .link-github {
                font-size: $fontSizeLarge;
                margin: 20px 0;
                i {
                    font-size: 3rem;
                }
            }
        }
    }

    .availability-status {
        padding: 4% 0;

        .carousel {
            height: 500px;
            width: 700px;
            margin: auto;

            .carousel-item .carousel-text {
                padding: 20px;
                text-align: center;
                p {
                    font-size: 2.5rem;
                }
                a {
                    font-size: $fontSizeLarge;
                }
            }
        }

        
    }

    .main-footer {
        padding: 4% 0;
        p,
        a {
            font-size: $fontSizeLarge;
            margin: 30px 0;
        }
        i {
            font-size: 3rem;
        }
    }
}