@media only screen and (min-width: 600px){

    header {

        .main-nav {
            display: block;
        }
        .main-nav ul {
            display: flex;
            justify-content: flex-end;
        }

        a {
            color: $white;
            padding: 20px;
            display: inline-block;
            font-size: $fontSizeSmall;
        }
    }
}

@media only screen and (min-width: 768px) {
    .main-header {

        .navMenu-btn {
            display: none;
        }

        .main-nav {
            position: fixed;
            right: 0;
            z-index: 10;

            a {
                position: relative;
                transition: all 0.5s ease;
                z-index: 3;
                color: $white;
                text-transform: uppercase;
            }
            a:before {
                content: "";
                position: absolute;
                height: 10px;
                width: 0;
                bottom: 0;
                left: 0;
                transition: width 0.5s ease;
            }
            a:hover {
                color: #fff;
            }
            a:hover:before {
                background-image: $gradientHover;
                width: 100%;
            }

        }
    }

    .showcase {
        .showcase-text {

            .showcase-btn {
                transition: all 1s ease;
                &:hover {
                    background-image: $gradientHover;
                }
            }
        }
    }
}
@media only screen and (min-width: 900px) {
    .showcase {
        .showcase-text {
            width: 45%;
            left: 30%;
            z-index: 3;
            background: $primary-color;

            h1 {
                font-size: 3.5rem;
                background: none;
            }
            p {
                background: none;
                border: 2px $white solid;
            }
            .float {
                font-size: 3rem;
                animation-duration: 6s;
            }
        }
        .showcase-pic {
            width: 30%;
        }

        .overlay-pic {
            position: absolute;
            width: 30%;
            height: 100%;
            background: rgba(35, 35, 59, 0.4);
            z-index: 3;
        }
        .showcase-secondary {
            width: 25%;
            right: 0;
            bottom: 10%;
            z-index: 2;
            background: $secondary-color;
            p {
                font-size: 1.4rem;
                color: $primary-color;
                margin: 0;
            }
        }
    }
}