$primary-color: #23233b;
$secondary-color: #FFB561;

$gradientHover: linear-gradient(to right top, #a8566e, #c6686f, #df7e6e, #f3986b, #ffb56b);

$dark: #010111;

$white: #fff;

$fontSizeSmall: 1.2rem;

$titleLarge: 3rem;
$fontSizeLarge: 1.5rem;

$max-width: 1200px;