@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@500&display=swap');
@import 'variables';
@import "mixins";
@import "animations";


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper-header {
    background: $primary-color;
    width: 100%;
}

.wrapper-showcase {
    background: $primary-color;
}

.wrapper-about {
    background-image: linear-gradient(to right top, #623c5f, #744265, #854869, #974f6c, #a8566e);
}

.wrapper-projects {
    background: $primary-color;
}

.wrapper-carousel {
    background: url("../img/keyboard.jpg") no-repeat center/cover;
    background-attachment: fixed;
}

header {
    background: $primary-color;
    position: relative;
    max-width: 1400px;;
    margin: auto;

    .main-nav {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        right: -100%;
        background: $secondary-color;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 1s;

        li {
            margin: 40px;
            font-size: 2rem;

            a {
                color: #fff;
                color: $primary-color;
            }
            
            a:active {
                background: $white;
                padding: 10px;
                border-radius: 10px;
            }
        }
    }

    .change {
        right: 0;
    } 

    .navMenu-btn {
        position: fixed;
        height: 30px;
        width: 30px;
        right: 10px;
        top: 10px;
        z-index: 150;

        .line {
            width: 100%;
            height: 5px;
            background: $white;
            margin-bottom: 5px;
        }

         .line-1 .change {
                transform: rotateZ(-405deg) translate(-8px, 6px);           
        }
    }
}

.showcase {
    background: $primary-color;
    height: 100vh;
    position: relative;
    max-width: 1400px;

    .showcase-text {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        z-index: 2;
        @include flexAlignment(column, center, center);

        .float {
            position: absolute;
            color: rgba(62, 62, 110, 0.6);
            animation: floatIcon 3s ease infinite;
            font-size: 2.5rem;
            z-index: 1;
            &Icon-1 {
                top: 10%;
                right: 5%;
                animation-delay: 0.5s;
            }
            &Icon-2{
                top: 25%;
                right: 10%;
                animation-delay: 1s;
            }
            &Icon-3{
                top: 40%;
                right: 15%;
                animation-delay: 1.5s;
            }
            &Icon-4{
                top: 55%;
                right: 20%;
                animation-delay: 2s;
            }
            &Icon-5{
                top: 70%;
                right: 25%;
                animation-delay: 2.5s;
                position: absolute;
                z-index: 100;
            }
        }

        h1 {
            //color: $white;
            font-size: 2.5rem;
            background: #623c5f;
            color: $white;
            margin-top: 100px;
            padding: 5px;
            z-index: 2;
            font-family: 'Anton', sans-serif;
        }

        p {
            color: $white;
            background: #623C5F;
            font-size: 1.5rem;
            margin-top: 15px;
            margin-bottom: 30px;
            padding: 5px;
            z-index: 2;
        }
    }

    .showcase-secondary {
        width: 100%;
        bottom: 0;
        position: absolute;
        z-index: 2;
        background: linear-gradient(rgba(35, 35, 59, 0.5),rgba(35, 35, 59, 0.5));
        padding: 10px;

        p {
            color: $white;
            font-size: $fontSizeSmall;
            margin-top: 15px;
            margin-bottom: 20px;
            line-height: 1.4;
            letter-spacing: 1.5px;
        }

        a {
            color: $white;
            font-size: $fontSizeSmall;
        }

        a:visited {
            color: $white;
        }
    }

    .showcase-pic {
        z-index: 1;
        position: absolute;
        width: 50%;
        height: 100%;
        object-fit: cover;
        left: 0;
    }

    .showcase-btn {
        @include buttons;
        font-size: 1.4rem;
        z-index: 2;
    }
}

.projects {
    padding: 50px 10px;
    background: $primary-color;
    max-width: $max-width;
    margin: auto;
    .projects-text {
        h1 {
            font-size: 2.5rem;
            color: $secondary-color;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        p {
            color: $white;
            font-size: $fontSizeSmall;
            line-height: 1.4;
        }
    }

    .item-2 {
        margin-top: 80px;
    }
    .project-item {
            
            h3 {
                font-size: $fontSizeSmall;
                margin-top: 20px;
                margin-bottom: 20px;
                text-transform: uppercase;
                color: $secondary-color
            }
            p {
                color: $white;
                font-size: $fontSizeSmall;
                line-height: 1.4;
                margin-bottom: 20px;
            }
            span {
                color: $secondary-color;
                border: 1px solid $secondary-color;
                padding: 10px;
                display: inline-block;
                margin: 10px 0;
            }

            .project-1 {
                background: url("../img/project1.png") no-repeat center/cover;
            }

            .project-2 {
                background: url("../img/project2.png") no-repeat center/cover;
            }

            .image-overlay {
                position: relative;
                height: 350px;
                width: 100%;
                margin-top: 20px;
                overflow: hidden;
            }

            .image-overlay .overlay {
                background:rgba(0,0,0,0.9);
                position: absolute;
                height: 100%;
                width: 100%;
                right: -100%;
                @include flexAlignment(column, center, center);
                transition: all 1s ease;
                a {
                    color: $white;
                    font-size: 2rem;
                    border-bottom: 5px $secondary-color solid;
                    display: inline-block;
                }
            }

            .image-overlay:hover {

                .overlay {
                    right: 0;
                }
            }
        
        
        
        .link-github {
            display: flex;
            align-items: center;
            a {
                border-bottom: 3px solid $secondary-color;
                text-transform: uppercase;
                margin-bottom: 5px;
                color: $white;
            }
            a:hover {
                color: $secondary-color;
            }
            i {
                color: $white;
                margin-right: 10px;
                text-transform: lowercase;
                font-size: 2.5rem;
                display: inline-block;
            }
        }
        
    }
   
}

.about-page {
    padding: 50px 10px;
    max-width: $max-width;
    margin: auto;    
    h1 {
        font-size: 2.5rem;
        color: $secondary-color;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    p {
        color: $white;
        font-size: $fontSizeSmall;
        line-height: 1.4;
    }

    .skills-text {
        margin-top: 30px;

        ul {
            margin-top: 15px;
            li{
                font-size: $fontSizeSmall;
                color: $white;
                margin-bottom: 7px;
            }
        }
    }

    .skills-logos {
        font-size: 2rem;
        text-align: center;
        padding: 20px 0;
        margin-top: 30px;
        background: $primary-color;

        i {
            color: $secondary-color;
        }
    }
}

.availability-status {

    padding:  30px 10px;
    max-width: $max-width;
    margin: auto;

    .carousel {
        position: relative;
        height: 350px;
        width: 100%;
        border: 5px solid $secondary-color;
    }
    .carousel-item {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;

        .carousel-text {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.8);
            padding: 20px;
            text-align: left;
            line-height: 1.4;
            @include flexAlignment(column, center, center);
            p {
                font-size: 2rem;
                color: $secondary-color;
                text-transform: uppercase;
            }
            a {
                font-size: $fontSizeSmall;
                display: block;
                color: $white;
                margin-top: 25px;
                text-align: left;
            }
        }
    }
    
}

.main-footer {
    padding: 20px 0;
    background: $dark;
    text-align: center;
    color: $white;
    margin: 0;

    p {
        margin: 10px 0;
    }
    i {
        font-size: 2rem;
        margin: 0 10px;
    }
    .email {
        display: block;
    }
    a {
        font-size: $fontSizeSmall;
        display: inline-block;
        color: $white;
        margin: 10px 0;
    }
    
}

@import 'mediaQueries';

