@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'variables';
@import "mixins";
@import "animations";



* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: $primary-color;
}

header {
    background: $primary-color;

    .main-nav {
        display: none;
    }

    .navMenu-btn {
        position: fixed;
        height: 30px;
        width: 30px;
        right: 10px;
        top: 10px;
        z-index: 100;

        .line {
            width: 100%;
            height: 5px;
            background: $white;
            margin-bottom: 5px;
        }
    }
}

.showcase {
    background: $primary-color;
    height: 100vh;
    position: relative;

    .showcase-text {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        z-index: 2;
        @include flexAlignment(column, center, center);

        .float {
            position: absolute;
            color: rgba(62, 62, 110, 0.6);
            animation: floatIcon 3s ease infinite;
            font-size: 2.5rem;
            z-index: 1;
            &Icon-1 {
                top: 5%;
                right: 5%;
                animation-delay: 0.5s;
            }
            &Icon-2{
                top: 15%;
                right: 10%;
                animation-delay: 1s;
            }
            &Icon-3{
                top: 30%;
                right: 15%;
                animation-delay: 1.5s;
            }
            &Icon-4{
                top: 45%;
                right: 20%;
                animation-delay: 2s;
            }
            &Icon-5{
                top: 60%;
                right: 25%;
                animation-delay: 2.5s;
                z-index: 1;
            }
        }


        h1 {
            //color: $white;
            font-size: 2rem;
            background: #623C5F;
            color: $white;
            margin-top: 100px;
            padding: 5px;
            z-index: 2;
        }

        p {
            color: $white;
            background: #623C5F;
            font-size: 1.5rem;
            margin-top: 15px;
            margin-bottom: 30px;
            padding: 5px;
            z-index: 2;
        }
    }

    .showcase-secondary {
        width: 100%;
        bottom: 0;
        position: absolute;
        z-index: 2;
        background: $primary-color;
        padding: 10px;

        p {
            color: $white;
            font-size: 1.2rem;
            margin-top: 15px;
            margin-bottom: 30px;
            line-height: 1.4;
            font-weight: bold;
            letter-spacing: 1.5px;
        }
    }

    .showcase-pic {
        z-index: 1;
        position: absolute;
        width: 50%;
        height: 100%;
        object-fit: cover;
        left: 0;
    }

    .showcase-btn {
        @include buttons;
        font-size: 1.4rem;
        z-index: 2;
    }
}

@import 'mediaQueries';

